Language: Cpp
BasedOnStyle: Google

AllowShortIfStatementsOnASingleLine: false 
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign